@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;1,400&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  color: #2d3436;
}

ul li{
  list-style: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-container{
  width: 60%;
  margin: auto;
}
.search-element{
  display: flex;
  flex-wrap: wrap;
  height: 3em;
  margin-top: 10%;
  margin-bottom: 10%;
}
.search-input{
  width: 80%;
  border: 1px solid #bdc3c7;
  border-radius: 10px 0 0 10px;
  padding-left: 1em;
  font-size: 1em;
  outline: none;
}
.search-input:focus{
  background-color: #ffeaa7;
}
.search-button{
  width: 20%;
  border-radius: 0 10px 10px 0;
  border: none;
  outline: none;
}
.search-icon{
  font-size: 1.5em;
}
.weather-card{
  margin-bottom: 2em;
}
.card-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5cd79;
  width: 100%;
}
.city-name{
  padding-bottom: .5em;
}
.icon{
  width: 100px;
}
.number-data{
  background-color: #dfe4ea;
  border: 1px solid #dfe4ea;
}
.number-data p{
  padding-left: 1em;
}

.close-button{
  border: none;
  background-color: transparent;
  text-decoration-color: none;
  float: right;
  outline: none;
}
.close-icon{
  font-size: 1.5em;
}
.spinner{
  padding-top: 2em;
  padding-bottom: 2em;
  width: 50px;
  margin: auto;
  display: block;
}
.noResults, .hasError{
  text-align: center;
}

.chart-container{
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .weather-container{
    width: 100%;
  }
}



